body {
    margin: 0px;
}
#root {
    height:100vh;
    width:100vw;

}
.page-container {
    width: 100%;
    height: 100%;
    background-color: red;
    padding:10px;
}

.header-container {
    background-color: blue;
    width: 100%;
    height: 100px;
}

.list-container {
    background-color: green;
    height: calc(90% - 100px);
    width: 400px;
    overflow-y: scroll;
}
::-webkit-scrollbar {
    width: 10px;
}
  
.list-item-container {
 font-size: medium;
 border: 2px solid black;
 padding: 5px;
}

.details-container {
    background-color: purple;
    width: fill;
    height: calc(90% - 100px);
}